.task-page {
    height: 100vh;
    /* background-image: url("../images/task_mobilebg.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-container > button,
.task-container form button {
  align-self: center;
}

@media (min-width: 768px) {
    .task-page {
        /* background-image: url("../images/task_deskbg.png");  */
        background-size: cover;
        background-position: center;
    }
}


